<form action="/register" method="POST">

    <label for="name">Username</label>
    <input type="text" name="username"><br>

    <label for="password">Password</label>
    <input type="password" name="password"><br>

    <label for="firstName">First Name</label>
    <input type="text" name="firstName"><br>

    <label for="lastName">Last name</label>
    <input type="text" name="lastName"><br>

    <input type="submit" value="Register">
</form>