<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <head>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                {{#if currentUser}}
                <li>Hello {{currentUser.username}}</li>
                <li>
                    <form  id="logout-form" action="/logout" method="POST"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                {{/if}}

            </ul>
        </head>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span>
            {{/if}} {{{body}}}
        </main>
    </div>


</body>

</html>