<h1>Search meme</h1>
<form action="/searchMeme" method="POST">
    <label for="memeName">Meme name</label>
    <input type="text" id="memeName" name="memeName" placeholder="The title of the meme">

    <select name="genreSelect" id="genreSelect">
        {{#each genres}}
            <option>{{this.genreName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
</form>