<h1>Add Car</h1>

<form action="/addCar" method="POST">
  <fieldset>
    <legend>Create Car: </legend>
    Brand:
    <br>
    <input type="text" name="brand" placeholder="Add brand">
    <br> Model:
    <br>
    <input type="text" name="model" placeholder="Add model">
    <br> Price per day:
    <br>
    <input type="text" name="price" placeholder="Add price">
    <br> Image:
    <br>
    <input type="text" name="image" placeholder="Add image">
    <br> Produce year:
    <br>
    <input type="text" name="productionYear" placeholder="Add year of production">
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>